<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/countries.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <title>Fortnite Rankings</title>
</head>
<body>
    <h1>Fortnite Rankings</h1>

    <form action="/add_player" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    
        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" id="date_of_birth" name="date_of_birth">
    
        <label for="country">Country:</label>
        <select id="country" name="country" style="width: 10%;"></select>

        <label for="total_earnings">Total Earnings:</label>
        <input type="number" id="total_earnings" name="total_earnings" required>

        <label for="image_url">Image URL:</label>
        <input type="text" id="image_url" name="image_url">
    
        <input type="submit" value="Add Player">
    </form>

    <h2>Players List</h2>
    <ul>
        {% for player in players %}
            <li>
                <img src="{{ player.image_url }}" alt="{{ player.username }}" style="width:100px;">
                <strong>{{ player.username }}</strong> - {{ player.name }}<br>
                Date of Birth: {{ player.date_of_birth }}<br>
                Country: {{ player.country }}<br>
                Total Earnings: ${{ player.total_earnings }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>